div
{
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 10px;
}
.Github
{
    background-color: none;
    /* border-bottom: 10px black; */
    

}
p
{
    background-color: aqua;
}
h3
{
    font-style: italic;
    color: blue;
    padding-bottom: 10px red;
    background-color:yellow;
    box-shadow: 10px 20px 50px;
}